<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">

    <title>Wurstshop24</title>
  </head>
  <body>

      <div class="container">
          <div class="row">
              <div class="col">
                  <!-- header mit logo -->
                  <img src="img/logo.jpeg" width="150px" class="float-right" id="logo">

                  <h1>
                      Wurstshop24
                      <button id="refresh_list" class="btn btn-sm btn-light">Refresh</button>
                  </h1>

                  <div class="row">
                      <div class="col">

                          <!-- inhalt -->
                          <div id="artikel"></div>

                          <hr>

                          <div id="orders"></div>

                      </div>
                  </div>

                  <div class="row">
                      <div class="col" id="footer">

                          &copy; {{ 'now'|date('Y') }} Wurstshop24

                      </div>
                  </div>

              </div>
          </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </body>
</html>
